<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>the honest olympics!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>olympics</h1>
        <p>Did you just do a new record? let us know here:</p>
        <form action="/" method="POST">
            <input type="text" name="name" placeholder="Your Name" required>
            <input type="text" name="sport" placeholder="what sport did you do?" required>
            <button type="submit" class="button">Submit</button>
        </form>
        <a href="/" class="button">Go Home</a>
    </div>
</body>
</html>